@import "tailwindcss";

@font-face {
  font-family: "Lovable";
  src: url("/fonts/Lovable-Regular.ttf");
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
}